:root {
  --primary-color: #303132;
  --secondary-color: #ddaf5e;
  --accent-color: #7c8484;
}

* {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4 {
  color: var(--secondary-color);
}
.social-icons {
  display: inline-flex;
  justify-content: space-evenly;
  margin-top: 40px;
  width: 240px;
  color: var(--accent-color);
}
.social-icons-foot {
  display: inline-flex;
  justify-content: space-evenly;
  margin-top: 40px;
  width: 240px;
  font-size: 3em;
  color: var(--primary-color);
}
body {
  margin: 0;
  background-color: var(--primary-color);
  color: #ffff;
  font-family: Arial, Helvetica, sans-serif;
}
.wrapper {
  padding-left: 200px;
  padding-right: 200px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.6);
}
.nav-logo {
  left: 0;
  padding: 14px;
  font-weight: 600;
  color: #ffff;
  font-size: 1.35em;
  text-decoration: none;
}
.nav-menu {
  display: flex;
  justify-content: space-evenly;
}
.nav-item {
  font-size: 1.2em;
  font-weight: 600;
  color: lightgray;
  text-decoration: none;
  padding: 14px;
}

.nav-item:hover {
  color: rgb(255, 255, 255);
}

.nav-item:active {
  background-color: #ffff;
  color: black;
}
.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.8)),
    url("../img/hero.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
}
.hero-text {
  text-align: center;
  font-size: 3em;
}
.hero-text p,
.hero-text h1 {
  margin: 0;
}
.view-counter {
  display: inline-flex;
  align-items: center;
  position: absolute;
  top: 100px;
  right: 0px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.6);
  font-size: 1.8em;
}

.counter-title,
.counter {
  color: rgb(255, 255, 255);
  font-weight: 600;
  padding: 4px;
}
section {
  border-bottom: 1px solid var(--accent-color);
  margin: 0;
  color: rgb(255, 255, 255);
  padding: 20px;
}
.section-title {
  display: flex;
  justify-content: center;
  align-content: center;
  font-size: 2.8em;
  font-weight: 600;
}
.resume-header {
  width: 20%;
  float: left;
}
.resume p {
  position: relative;
}
.resume-text {
  display: flex;
  margin-bottom: 40px;
}
.row {
  display: flex;
  justify-content: space-between;
}
.about p {
  width: 50%;
  font-size: 1.3em;
  padding: 20px;
}
img {
  width: 50%;
  height: auto;
}
@media (max-width: 1200px) {
  .nav,
  .nav-item {
    display: none;
  }
}

.resume-info {
  width: 1000px;
  margin-top: 40px;
  float: left;
}
.resume-info li{
  padding: 10px;
}
.btn {
  display: inline-flex;
  margin: 4px;
  font-size: 1.8em;
  padding: 20px;
  margin-right: 20px;
  background-color: rgb(220, 220, 120);
  color: #ffff;
  border: 1px solid rgb(90, 0, 0);
  border-radius: 4px;
}

.btn:hover {
  transition: background-color 0.5s;
  background-color: rgb(255, 255, 255);
  color: rgb(90, 0, 0);
  border: 1px solid rgb(90, 0, 0);
}
.slide-down {
  position: absolute;
  bottom: 40px;
  color: var(--accent-color);
}
footer {
  padding:20px;
  width: auto;
  background-color: var(--accent-color);
  text-align: center;
}